.chat__container__main {
  display: flex;
  gap: 24px;
  height: 100%;
  padding: 18px;
  align-content: center;
  justify-content: center;
}

.chat__container__overall {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 24px;
}

.chat__container__header {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #000000;
}

.chat__container__card__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chat__container__card__first {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;
}

.chat__container__card__second {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;
  display: flex;
  gap: 8px;
}

.chat__container__card__btm {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #858585;
}

.chat__container__card {
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  margin: 20px 0;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}

.chat__container__btn {
  background: #5030E5;
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #FFFFFF;
  padding: 8px 24px;
  width: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}

.chat__header {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 24px;
  font-weight: 600;
  font-size: 16px;
}

.chat__weekday {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9097A0;
}

.chat__message__avatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-top: 16px;
  margin-left: 12px;
}

.chat__text__container {
  background: #F1F3F6;
  border-radius: 20px;
  padding: 12px;
  margin: 12px;
  font-weight: 400;
  font-size: 14px;
  color: #22215B;
  display: flex;
  flex-direction: column;
}

.chat__message__date {
  font-weight: 400;
  font-size: 10px;
  align-self: flex-end;
  margin-top: 8px;
}

.mine {
  background: #7B61FF;
  color: #FFFFFF;
}

.chat__message {
  display: flex;
}

.chat__input__text {
  background: #F1F3F6;
  border-radius: 20px;
  padding: 18px 36px;
  font-weight: 400;
  font-size: 14px;
  border: none;
  display: flex;
  width: 100%;
}

.chat__input__container {
  width: 100%;
  display: flex;
}

.chat__input__text:focus {
  outline: none;
}

.chat__input {
  display: flex;
  gap: 12px;
  padding: 8px;
  align-items: center;
  justify-content: stretch;
  bottom: 24px;
  width: 95%;
  margin-top: auto;
}

.att__icon {
  position: absolute;
  margin-top: 15px;
  margin-left: 12px;
}

.chat__input__send {
  background: #7B61FF;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.chat__header {
  background: white;
}

.chat__messages {
  background: white;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  height: 100%;
  overflow-y: auto;
}

#big {
  width: 90%;
  height: 25px;
  margin-bottom: 15px;
}