.modal__container {
  background: rgb(0, 0, 0, 0.5);
  width: 900px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__window {
  background: #FFFFFF;
  width: 978px;
  height: 700px;
  border-radius: 30px 0px 30px 30px;
  padding: 24px;
}

.modal__close {
  cursor: pointer;
  z-index: 999;
  display: flex;
  margin-right: -60px;
  margin-top: -55px;
  margin-left: auto;
}