.userData {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.userData__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userData__img {
  background: #000000;
  border-radius: 19px;
}

.userData__topText {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  text-align: right;

  color: #222222;
}

.userData__bottomText {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-align: right;

  color: #858585;
}